<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/main.css" rel="stylesheet">
    </head>
    <body>
    <h3 class="failMessage">We Are Sorry, You Have Exceeded The Fixed Amount Of Login Attempts. If You Would Like To Make a New Account, You Can Do So <a href="/auth/signup">here</a>.
    </body>
</html>