<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <h1 class="welcome">Welcome To The Gab</h1>
    <div class="homeLinksContainer">
        <a class="homeLinks" href="/auth/signup">Signup</a>
        <a class="homeLinks" href="/auth/login">login</a>
    </div>

</body>

</html>