<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <h1>GABBLE</h1>
    <a href="/users/profile">View Profile</a>
    <form action="/users/logout" method="post">
    <input type="submit" value="logout">
    </form>
    <div class="posts">
    <div class="newGab">
    {{#user}}
    <form action="/users/message" method="post">
    <div class="profileGab">
        <textarea name="message">
        </textarea>
        <input type="submit" value="GAB IT">
        </div>
    </form>
    </div>
        <h2>Latest Gabs</h2>
        {{#posts}}
        <div class="postWrapper">
            <div>{{post}}</div>
            <div class="likeCount hidden">Likes: {{likes.length}}</div>
            <div><p>Created By: {{author.username}}</div>
            <div>{{createdAt}}</div>
            <form action="/users/like" method="post">
                <input type="hidden" name="postId" value="{{id}}">        
            {{#user}}
                <input type="hidden" name="userId" value="{{userId}}">  
            {{/user}}          
                <input type="submit" name="like" value="Like">
            </form>
        </div>
        {{/posts}}
        {{/user}}
    </div>

    <script src="/main.js"></script>
</body>

</html>