<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/1b7c902623.js"></script>
</head>

<body>
    <h1 class="mainTitle">GABBLE</h1>
    <div class="topIcons">
        <a href="/users/profile"><i class="profileIcon fa  fa-user-circle" aria-hidden="true"></i> </a>
        <form action="/users/logout" method="post">
            <button class="logout" type="submit">
    <i class="fa fa-eject" aria-hidden="true"></i> 
    </div>
    </button>

        </form>
        <div class="posts">
            <div>
                {{#user}}
                <form action="/users/message" method="post">
                    <div class="profileGab">
                        <textarea maxlength="140" class="newGab" name="message">
        </textarea>
                        <button class="gabSbmt" type="submit">
             <i class="mainSubmit fa fa-hand-scissors-o" aria-hidden="true"></i>
            </button>
                    </div>
                </form>
            </div>
            <h2 class="mainSubtitle">Latest Gabs</h2>
            {{#posts}}
            <div class="postWrapper">
                <div>{{createdAt}}</div>
                <div class="author">{{author.username}}</div>
                <div class="post">{{post}}</div>
                <form action="/users/like" method="post">
                    <input type="hidden" name="postId" value="{{id}}"> {{#user}}
                    <input type="hidden" name="userId" value="{{userId}}"> {{/user}}
                    <button type="submit" class="mainLike">
                <div class="likeCount hidden"><i class=" fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                    </button>{{likes.length}}
                </form>


            </div>

        </div>
        {{/posts}} {{/user}}
    </div>

    <script src="/main.js"></script>
</body>

</html>