<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <h1>login</h1>
    <form class="loginForm" action="/auth/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
        <input type="submit">
    </form>

</body>

</html>