<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
   <script src="https://use.fontawesome.com/1b7c902623.js"></script>
</head>

<body>
    {{#user}}
    <h1 class="profileTitle">Hi {{user}}</h1>
    <h3><a class="homeIcon" href="/gabble"><i class="fa fa-home" aria-hidden="true"></i></a></h3>
    
    {{/user}}
    <form action="/users/message" method="post">
        <div class="profileGab">
            <textarea class="newGab" name="message"></textarea>
            <input type="submit" value="GAB IT">
        </div>
    </form>
    <h2>Your Gabs</h2>
    {{#userPosts}}
    <div class="postWrapper">
        <div>{{post}}</div>
        <div>Likes: {{likes.length}}</div>
        <div>{{createdAt}}</div>
        <form action="/users/post/delete" method="post">
            <input type="hidden" name="postid" value="{{id}}">
            <input type="submit" value="Delete">
        </form>
    </div>
    {{/userPosts}}



</body>

</html>