<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <h1 class="title">Signup</h1>
        <form class="signupForm" action="/auth/signup" method="post">
            <input type="text" placeholder="Full Name" name="name">
            <input type="text" placeholder="Username" name="username">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <input type="text" placeholder="Bio" name="bio">
            <input type="submit" value="Signup" class="signupSbmt">
        </form>
</body>

</html>