body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: white;
  color: lightseagreen;
}
.postWrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 25px #888888;
  border-radius: 10px;
  width: 60%;
  margin: 3% auto;
  color: lightslategray;
}

.post {
  margin: 30px 0 30px 0;
}

.created {
  font-weight: lighter;
}

.delete {
  border: none;
  background: none;
  font-size: 2rem;
  transition: all .5s;
}

.delete:hover {
  border: none;
  color: red;
  transition: all .5s;
  cursor: pointer;
}

.signupForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.signupForm input {
  margin-top: 3%;
  text-align: center;
  -webkit-appearance: none;
  border: 1px solid lightcoral;
  font-size: 1.5rem;
  border-radius: 10px;
}

.signupForm input::-webkit-input-placeholder {
  color: lightgrey;
  text-transform: lowercase;
}

.signupForm input:focus {
  outline: none;
  border: none;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.loginForm input {
  text-align: center;
  -webkit-appearance: none;
  border: 1px solid lightseagreen;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 3%;
}

.loginForm input::-webkit-input-placeholder {
  color: lightgrey;
  text-transform: lowercase;
}

.loginForm input:focus {
  outline: none;
  border: none;
}

.loginSbmt {
  background: none;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  color: lightseagreen;
  transition: all 1s;
}

.loginSbmt:hover {
  cursor: pointer;
  background: lightseagreen;
  color: white;
  transition: all 1s;
}

.profileGab {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.failMessage {
  color: lightsalmon;
}

.loginError {
  color: red;
}

.welcome {
  background: black;
  color: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 20%;
  font-size: 4rem;
}

.homeLinks {
  background: black;
  color: white;
  text-decoration: none;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-left: 3%;
  transition: all 1s;
}

.homeLinks:visited {
  background: black;
  color: white;
  text-decoration: none;
}

.homeLinks:hover {
  background: lightgreen;
  transition: all 1s;
}

.homeLinksContainer {
  margin-top: 4%;
}

.title {
  background: lightcoral;
  color: white;
  font-size: 3rem;
  width: 40%;
  margin: 0 auto;
  text-transform: uppercase;
}

.loginTitle {
  background: lightseagreen;
  color: white;
  font-size: 3rem;
  width: 40%;
  margin: 0 auto;
  text-transform: uppercase;
}

.signupSbmt {
  background: none;
  border: 1px solid lightcoral;
  border-radius: 10px;
  color: lightcoral;
  transition: all 1s;
}

.signupSbmt:hover {
  cursor: pointer;
  background: lightcoral;
  color: white;
  transition: all 1s;
}

.profileTitle {
  background: lightskyblue;
  color: white;
  font-size: 3rem;
  width: 40%;
  margin: 0 auto;
  text-transform: uppercase;
}

.homeIcon {
  color: lightskyblue;
  font-size: 3rem;
  transition: all 1s;
}

.homeIcon:visited {
  color: lightskyblue;
}

.homeIcon:hover {
  color: lightgreen;
  transition: all 1s;
}

.newGab {
  height: 8rem;
  font-size: 1.6rem;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightskyblue;
}

.newGab:focus {
  outline: none;
}

.gabSbmt {
  border: none;
  font-size: 3rem;
  background: none;
  transition: all .75s;
  color: lightblue;
}

.gabSbmt:hover {
  color: lightgreen;
  cursor: pointer;
  transition: all .75s;
}

.yourGabs {
  background: lightskyblue;
  color: white;
  font-size: 2rem;
  width: 30%;
  margin: 0 auto;
}

.postIcons {
  display: flex;
  justify-content: space-around;
}

.likeIcon {
  margin-top: 3%;
}
